<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conexaoBD"  connectionString="data source=LAPTOP-0EMAV8VV; Integrated Security=SSPI; Initial Catalog=ExemploBD" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>